<div class="container">
  <div class="jumbotron">
    <h1>Playmates</h1>
  </div>

  <label>Filter: <input type="text" ng-model="simpleFilter" /></label><br />

  <ul ng-repeat="playmate in allPlaymates | filter: simpleFilter">
    <li class="playmate-profile"><img class="img-square img-responsive" ng-src="{{ playmate.location }}"></li>
    <li>{{ playmate.name }}</li>
    <li>{{ playmate.breed }}</li>
    <li>{{ playmate.age }}</li>
    <li>{{ playmate.gender }}</li>
    <li>{{ playmate.sterile }}</li>
    <li>{{ playmate.vaccinated }}</li></li>
    <li>{{ playmate.size }}</li>
    <li>{{ playmate.bio }}</li>
    <li>{{ playmate.playstyles }}</li>
    <li><button type="button" ng-click="addFave($index)">Add to Faves</button></li>
    <li><button type="button" ng-click="schedulePlaydate($index)">Schedule Playdate</button></li>
  </ul>
</div>
