<div class="jumbotron hometron">
  <div class="container">
    <h1>FINDING PLAYMATES FOR YOUR DOG <br>HAS NEVER BEEN EASIER</h1>
    <p>At PlayBow, we want our dogs to be happy, healthy and socially
      well-adjusted. <br>PlayBow's mission is to match dogs of similar
      playstyles together to set up <br>mutually beneficial playdates!
    </p>
    <a href="#addplaymate"><button class="btn" type="button" name="button">Create a Playmate Profile</button></a>
    <a href="#allplaymates"><button class="btn" type="button" name="button">Browse Playmates</button></a>
  </div>
</div>
