<div class="container">

  <div class="jumbotron">
    <h1>Welcome to PlayBow!</h1>
  </div>

  <p>At PlayBow, we understand the unmistable bond between humans and dogs. We want our dogs to be happy, healthy and socially well-adjusted.</p>
  <p>Dogs are pack animals and although not all dogs enjoy playing with other members of their own species, most truly need social interaction with other dogs to fully develop emotionally and behaviorally. Just like people, most dogs have a primary play style preference based on their temperament.</p>
  <p>We understand that dogs don’t all play the same way and for some, it’s more beneficial to schedule playdates with compatible playmates. PlayBow’s mission is to match dogs with similar playstyles, which will help set up successful friendships and playdates for all!</p>

  <div>
    <h2>Add Your Dog's Profile</h2>
    <p>Start by adding your dog's profile so he can start finding playmates!</p>
    <a href="#addplaymate"><button class="btn" type="button" name="button">Add Playmate Profile</button></a>
  </div>

  <div>
    <h2>Browse Playmates</h2>
    <p>Skip adding a profile and find playmates!</p>
    <a href="#allplaymates"><button class="btn" type="button" name="button">Browse Playmates</button></a>
  </div>
</div>
