<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>simple cruddy crud</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/stylesheet.css" media="screen" title="no title" charset="utf-8">

    <script type="text/javascript" src="/vendors/lodash.min.js"></script>
    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/vendors/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-checkboxes.js"></script>


    <script type="text/javascript" src="/scripts/main.js"></script>

    <script type="text/javascript" src="/scripts/controllers/ProfileController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/PlaymateController.js"></script>









  </head>
  <body ng-app="myApp" >
    <a href="#addplaymate">add playmate</a>
    <a href="#allplaymates">all playmates</a>
    <a href="#favorites">favorites</a>
    <a href="#matches">matches</a>

    <main ng-view></main>

  </body>
</html>
